.nav {
  padding: 3em 0;
}

.nav-item {
  float: left;
  font-weight: 500;
  line-height: 4em;
  list-style: none;
  margin: 0 4em 0 0;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.2em;
}

.nav-item.active a {
  cursor: default;
  pointer-events: none;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item--button {
  float: right;
}

.nav-logo {
  background: url("/static/img/nav-logo.png") no-repeat left center / 4em;
  display: block;
  height: 4em;
  padding: 0 0 0 6em;
}

.nav-logo:hover {
  text-decoration: none;
  border: 0;
}
