$base-font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$base-font-size: 14px;
$base-border-radius: 4px;
$action-color: #26ade4;
$link-color: #26ade4;
$link-border-color: #26ade4;
$light-gray: #DADADA;
